# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Manuscript and powerpoints
1_Manuscript/
2_PowerPoints/

# Ignore all of the data, figures, and tables
Data/
Figures/
Tables/
Scripts/R/VariationAnalysis/2_BRMS/Model_Diagnostics/
Notes/

# Also don't track mac system files
*/.DS_Store

# Also don't track the old shit
x_Old/

# Ignore any kind of file we don't want to keep track of
*.dropbox
*.txt
*.log
*.docx
*.pdf
*.png
*.pptx
*.RData
*.Rapp.history
*.Rhistory
*/x_Old
*/X_Old

# Klauber directories
# Ignore data directories
Usable_data/
Data/
Results/
Results_backup/
intermediate_files/

# Ignore R related files
*.Rdata
*.Rhistory 